datasets/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/

gbp/solver.dll
gbp/solver.lib
gbp/solver.exp
gbp/solver.obj
gbp/libscip.a
gbp/libscip.def
gbp/libscip.dll
solver.lib
solver.exp
solver.obj

build/
CMakeCache.txt
CMakeFiles/
CMakeConfigure Log.yaml
cmake.check_cache

.vscode/
*.log
temp.py